<!DOCTYPE html>
<html lang="ch">
<head>
    <meta charset="UTF-8">
    <title>find</title>
    {% load static %}
</head>
<body>
<!--<form action="/find1" method="get">-->
<!--    Enter a number:<input type="text" placeholder="Hello" name="num">-->
<!--    <input type="submit" value="Test">-->
<!--</form>-->
<!--<form action="/find2" method="get">-->
<!--    Enter a number:<input type="text" placeholder="Enter" name="num1">-->
<!--    Enter second number:<input type="text" placeholder="Enter" name="num2">-->
<!--    <input type="submit" value="Test1">-->
<!--</form>-->

</body>
</html>