<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Idex</title>
    {% load static %}
    <link href="{% static 'css/style.css'%}" rel="stylesheet">
    <script src="{% static '/js/script1.js' %}" type="text/javascript"></script>
</head>
<body>
<h1 class="h1">Hello1 Everyone</h1>
<img src="{% static '/01.jpgD5C83F93-43DC-4538-8853-83666F76885EDefault.jpg'%}" alt="My" height="300px" width="700px"/>
<a href="http://127.0.0.1:8000/mi/" type="button" target="_blank">Go to Google</a><br>
<button onclick="window.location.href = 'https://w3docs.com';">Click Here</button>
<button class="GFG"
    onclick="window.location.href = 'http://127.0.0.1:8000/mi/';">
        Click Here5 mi
</button>



</body>
</html>
