<!DOCTYPE html>
<html lang="en-zh">
<head>
    <meta charset="UTF-8">
    <title>mi</title>
    {% load static %}
<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
<style>
    .center {border-style: solid;
    border-color: black;border-width: 5px;text-align: center;display: block;margin-left: auto;margin-right: auto;width: 20%;}
    p{font-family:monospace;}
    h1{font-size:55px;font-family:lobster;}
</style>
</head>
<body>
<h1 style="color:orange"><u>XIAOMI</u></h1>
<img  align="middle"  src="{% static '/mi.png'%}" alt="My" height="200px" width="300px" class="center"/><br><br><br>
<p style="font-size:22px">Xiaomi Corporation  is a Chinese electronics company founded by Lei Jun in 2010 and headquartered in Beijing. Xiaomi makes and
    invests in smartphones, mobile apps, laptops, bags, trimmers, earphones, MI Television, shoes, fitness bands, and many other products. Ranked 468th, Xiaomi
    is the youngest company on Fortune Global 500 List for 2019.

Xiaomi released its first smartphone in August 2011 and rapidly gained market share in China to become the country's largest smartphone
    company in 2014. At the start of second quarter of 2018, Xiaomi was the world's fourth-largest smartphone manufacturer, leading in both the
    largest market, China, and the second-largest market, India. Xiaomi later developed a wider range of consumer electronics, including a smart home (IoT) device ecosystem.

    Xiaomi has 15,000 employees in China, India, Malaysia, Singapore and is expanding to other countries including Indonesia, the Philippines, and South Africa.
    According to Forbes magazine, Lei Jun, the founder and CEO, has an estimated net worth of US$12.5 billion. Xiaomi is the world's 4th most valuable technology
    start-up after receiving US$1.1 billion funding from investors, making Xiaomi's valuation more than US$46 billion.<a href="https://www.mi.com/in/">click here</a> to know more.</p>
<h1>Hello in chinese.</h1>
</body>
</html>