<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vivo</title>
    {% load static %}
<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
<style>
    .center {border-style: solid;
    border-color: black;border-width: 5px;text-align: center;display: block;margin-left: auto;margin-right: auto;width: 20%;}
    p{font-family:monospace;}
    h1{font-size:55px;font-family:lobster;}
</style>
</head>
<body>
<h1 style="color:#0066ff"><u>Vivo</u></h1>
<img  align="middle"  src="{% static '/vivo.png'%}" alt="My" height="200px" width="300px" class="center"/><br><br><br>
<p style="font-size:25px">OPPO launched the first mobile phone, the Smile Phone, in 2008, which marks the beginning of a journey to explore
and pioneer extraordinary technology. Today, OPPO brings the aesthetics of technology to global consumers
through smart devices, ColorOS, and Internet services like OPPO Cloud and OPPO+.
We have presence in over 40 countries and regions, and have set up 6 research institutes and 4 R&D centers.
We have also established a global design center in London.
    Together, over 40,000 OPPO employees join their efforts to create beautiful life for people.<a href="https://www.vivo.com/in/">click here</a> for
 more information.</p>
</body>
</html>